<%= form_for @surf_preference do |f| %>
  <% unless flash[:notice].blank? %>
    <h3><%= flash[:notice] %></h3>
  <% end %>
  <% if @surf_preference.errors.any? %>
    <div>
      <h3><%= pluralize(@surf_preference.errors.count, "error") %> was found:</h3>

      <ul>
      <% @surf_preference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <%= f.label :min_size %>:
    <%= f.text_field :min_size, :placeholder => "In feet" %>
    <%= f.label :max_size %>:
    <%= f.text_field :max_size, :placeholder => "In feet" %>
    <%= f.label :min_shape %>:
    <%= select_tag "surf_preference[min_shape]", shape_selector_options(@surf_preference.min_shape).html_safe %>
    <%= f.label :spot_id %>:
    <%= select_tag "surf_preference[spot_id]", spot_selector_options(@surf_preference.spot_id).html_safe %>
    <%= f.label :start_time %>:
    <%= f.time_select :start_time, :class => "time" %>
    <%= f.label :end_time %>:
    <%= f.time_select :end_time, :class => "time" %>
 
  </fieldset>
  <button type="submit">Save</button>
<% end %>
